@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --cor-primaria: #E6B325;
    --cor-secundaria: #61481C
}

* {
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
}

/*////Header////*/
header {
    display: flex;
    align-items: center;
    background-color: #E6B325;
    width: 100vw;
}

.logotipo {
    width: 120px;
    height: 48px;
}

h1 {
    font-weight: bold;
    color: var(--cor-secundaria);
}

/*////Main////*/
main {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: url(assets/old+londres.jpg);
    background-size: cover;
}

/*////Lado Esquerdo do main////*/
.digitar_texto {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 80px 40px 0 180px;
}

.campo_digitacao{
    font-size: 32px;
    border: 2px solid var(--cor-primaria);
    border-radius: 16px;
    width: 680px;
    height: 288px;
}

.aviso_de_escrita {
    font-size: 12px;
    color: white;
    background-color: black;     

}

.botoes {
    display: flex;
    gap: 24px;
}

.botao_criptografar, .botao_descriptografar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 2px solid var(--cor-primaria);
    font-size: 16px;
    font-weight: bold;
}

.botao_criptografar, .botao_descriptografar, .copiar:hover{
    cursor: pointer;
}

.botao_criptografar {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.botao_descriptografar {
    background-color: white;
    color: var(--cor-primaria);
}

/*////Lado Direito do main////*/
.apresentar_resultado, .imagem, .subtitulo_mensagem, .mensagem, .copiar, .fundo{
    background-color: white;
}

.apresentar_resultado {
    height: 100vh;
    width: 375px;
    border-radius: 32px;
    padding: 20px;
    margin: 5px 0 5px 5px;
    box-shadow: 0px 0px 15px -12px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: auto;
}

.subtitulo_mensagem{
    font-size: 24px;
    font-weight: bold;
}

.mensagem{
    font-size: 16px;
    word-wrap: break-word; 
    max-width: 350px;
}

.copiar {
    border: 0;
    padding: 10px;
    display: none;
}


/*////footer////*/
.rodape, .contato{
    background-color: var(--cor-primaria);
}

.rodape{
    margin: 0 -10px -10px -10px;

    display: flex;
    justify-content: space-around;
    padding: 24px;
}

.contato{
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: bold;
}

.fa-brands{
    background-color: var(--cor-primaria);
}

@media (max-width: 1000px){
    .logotipo{
        width: 100px;
        height: 32px;
    }

    main{
        flex-direction: column;
        height: 90vh;
        box-sizing: content-box;
    }

    .digitar_texto{
        margin: 12px 10px;
        height: 60vh;
    }

    .campo_digitacao{
        width: 90%;
        margin-left: 15px;
    }

    .aviso_de_escrita{
        font-size: 18px;
    }

    .apresentar_resultado{
        height: 20vh;
        width: 85%;
        margin: 0 8px 20px 8px;
    }

    .imagem{
        display: none;
    }

    .rodape{
        flex-direction: column;
        gap: 10px;
        width: 89%;
    }
}
